/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer{
	background-image: url("../../images/footer-dark-wood.png");
  padding-bottom: 2rem;
  color: white;
  .container{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 4rem;
    .footer-contact-info, .footer-business-hour{
      flex-basis: 25%;
      h4{
        color: $color_primary_orange;
        margin: 4rem 0 0 0;
      }
      p{
        margin: 1rem 0;
      }
      .fa{
        font-size: 1.3rem;
      }
      .text-strong{
        font-weight: 700;
      }
    }
    .footer-logo{
      flex-basis: 50%;
      display: flex;
      justify-content: flex-end;
      img{
        margin-top: 4.1rem;
        width: 280px;
      }
    }
  }
  .footer-copyright{
    text-align: center;
    p {
      font-family: $font_accent;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}






