/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn-green {
	background: $color_primary_green;
	color: white;
	padding: 12px 25px;
	font-family: $font_accent;
	text-transform: uppercase;
	font-size: 1rem;

	&:hover {
		background: darken($color_primary_green, 10%);
	}

	&:active,
	&:focus {
		
	}
}

.btn-black-border{
	padding: 12px 25px;
	font-family: $font_accent;
	text-transform: uppercase;
	font-size: 1rem;
	border: 1px solid black;
	color: black;

	&:hover {
		border: 0;
		background: $color_primary_green;
		color: white;
	}
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	border: $solid_border;
	background-color: #f4f4f4;
	width: 100%;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

label{
	font-family: $font_accent;
	text-transform: uppercase;
	font-size: 1.1rem;
	display: block;
	margin-bottom: 10px;
}

.comment-form{
	display: flex;
	flex-wrap: wrap;

	.comment-form-comment, .comment-form-url{
		flex-basis: 100%;
		margin: 15px 0;
	}
	.comment-form-author{
		flex-basis: 50%;
		padding-right: 10px;
		margin: 15px 0;
	}
	.comment-form-email{
		flex-basis: 50%;
		padding-left: 10px;
		margin: 15px 0;
	}
	
}
