/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button.btn-green,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn-green, 
a.btn-green {
	background: $color_primary_green;
	color: white;
	padding: 12px 25px;
	font-family: $font_accent;
	text-transform: uppercase;
	font-size: 1rem;
	border: 1px solid $color_primary_green;
	&:hover {
		background: darken($color_primary_green, 10%);
		border: 1px solid darken($color_primary_green, 10%);
	}
	&:active,
	&:focus {
		background: darken($color_primary_green, 15%);
		border: 1px solid darken($color_primary_green, 15%);
	}
}

button.btn-black-border, 
.btn-black-border, 
a.btn-black-border {
	padding: 12px 25px;
	font-family: $font_accent;
	text-transform: uppercase;
	font-size: 1rem;
	border: 1px solid black;
	color: black;
	background-color: white;
	&:hover {
		background: $color_primary_green;
		color: white;
		border: 1px solid $color_primary_green;
	}
	&:active,
	&:focus {
		background: darken($color_primary_green, 5%);
		border: 1px solid darken($color_primary_green, 5%);
	}
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
	border: $solid_border;
	background-color: #f4f4f4;
	width: 100%;

	&:focus {
		color: #111;

	}
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"] {
	padding: 3px;
}


textarea {
	padding-left: 3px;
	width: 100%;
}

label{
	font-family: $font_accent;
	text-transform: uppercase;
	font-size: 1.1rem;
	display: block;
	margin-bottom: 10px;
	.required{
		color: $color_primary_orange;
	}
}

// search bar 



input[type="search"]::placeholder{
	color: $color_primary_light_grey;
}
input:focus[type="search"]::placeholder{
	color: lighten($color_primary_light_grey, 17%);
}


.search-form{
	fieldset{
		border: none;
		padding: 5px 0;
		margin-left: 30px;
		a.search-icon{
			display: inline-block;
		}
		label{
			display: inline-block;
			margin: 0;
			margin-left: 10px;
			input[type="search"],textarea{
				background-color: #f4f4f4;
				border: $solid_border;
				padding-left: 5px;	
			}
		}
	}
}




// comment form
.comment-form{
	display: flex;
	flex-wrap: wrap;

	.comment-form-comment, .comment-form-url{
		flex-basis: 100%;
		margin: 15px 0;
	}
	.comment-form-author{
		flex-basis: 50%;
		padding-right: 10px;
		margin: 15px 0;
	}
	.comment-form-email{
		flex-basis: 50%;
		padding-left: 10px;
		margin: 15px 0;
	}
}

