/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;
	font-family: $font_accent;
	text-transform: uppercase;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

// inhabitent main menu 
.site-header{
	background-color: rgba(255, 255, 255, 0.9);
	border-bottom: $solid_border;
	position: fixed;
	width: 100%;
	z-index: 3;
	.container{
		height: 50px;
		width: 1120px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		.site-branding{
			flex-basis: 20%;	
			.header-logo{
				.logo{
					width: 50px;
					height: 33.25px;
					background-size: cover;
					background-image: url("../../images/inhabitent-logo-tent.svg");
				}			
			}
		} // end of .site-branding
		.main-navigation{
			flex-basis: 80%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			
			.menu-main-menu-container{
				li{
					margin-left: 30px;
				}
			}

			.header-search{
				.search-form{
					.search-field{
						width: 0;
						padding: 0;
						border: none;
						background-color: transparent;
						transition: width 0.5s ease-in;
					}
					.search-field-focus{
						width: 200px;
					}
				}
			}
			// .header-search{

			// 	margin-left: 15px;

			// 	.search-form{


			// 		fieldset{

			// 		}
				
			// 	}
			// }
			
			// .header-search{
			// 	margin-left: 20px;

				
			// 		.search-icon{
			// 			border: none;
			// 			color: $color_primary_green;
			// 			background-color: transparent;
			// 			line-height: 1.5rem;
			// 			height: 32px;
			// 			width: 50px;
			// 			display: flex;
			// 			align-items: center;
			// 			margin-right: 0;
			// 		}
			// 		label{
			// 			display: none;
			// 			.search-field{
			// 				width: 0px;
			// 				border: none;
			// 				background-color: transparent;
			// 				font-family: $font_accent;
			// 				text-transform: uppercase;
			// 				
			// 			}
			// 			.search-field-focus{
			// 				width: 200px;
			// 			}
			// 		}
					
			// 		// .search-field-case{
			// 		// 	text-transform: none;
			// 		// }
				
				
			
		} // end of .main-navigation
	} // end of .container
} // end of .site-header



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

.search-pagination{
	.page-numbers{
		background-color: $color_primary_green;
		color: white;
		padding: 8px 12px;
		margin-right: 5px;
		&:hover:not(.current){
			background-color: $color_primary_purple;
		}
	}
	.current{
		background-color: $color_primary_medium_grey;
	}
}