/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body{

  &:not(.home):not(.page-template-about) {
    .site-content{
      width: 1120px;
      margin: 0 auto;
      padding-top: 50px;

      // for .blog, .single-post .page .error404, .search-results
      &:not(.single-product):not(.post-type-archive):not(.tax-product-type){
        display: flex;

        .content-area{
          flex-basis: 70%;
          padding: 60px 50px 60px 0;
        }
        .widget-area{ // sidebar
          flex-basis: 30%;
          padding-top: 20px;
          padding-left: 60px;
          border-left: $solid_border;
        }
      }

    } // end of .site-content 
  }
} // end of body


/* Journal page and Singal post page, 
also Category page, Tag page, Month archives page - post style*/
.blog, .single-post, .archive{
  .post{
    margin-bottom: 80px;
    .entry-header{
      position: relative;
      img{
        width: 100%;
        display: block;
      }
      .entry-title{
        position: absolute;
        left: 0;
        top: 8px;
        background-color: $color_primary_green;
        width: 570px;
        padding: 15px 25px;
        line-height: 40px;
        a{
          color: white;
          font-size: 2rem;
          font-weight: 700;
          &:hover{
            color: $color_primary_yellow;
          }
        }
        &:not(.blog){
          color: white;
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .entry-meta{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color_primary_green;
        padding: 5px 15px;
        color: white;
        font-family: $font_accent;
        text-transform: uppercase;
        span{
          color: white;
          font-family: $font_accent;
          text-transform: uppercase;
          &:not(.blog){
            a{
              color: white;
              font-family: $font_accent;
              text-transform: uppercase;
              &:hover{
                color: $color_primary_yellow;
              }
            }
          }
        }  
      } // end of .entry-meta
    } // end of .entry-header
    .entry-content{
      margin-top: 40px;
      p{
        margin-bottom: 40px;
      }
      a.btn-black-border{
        color: black;
        &:hover{
          color: white;
        }
      }
    } // end of .entry-content
  } // end of .post
} // end of .blog, .single-post


/* Category page, Tag page, Month archives page - page header style*/
.archive{
  .site-main{
    .page-header{
      border-bottom: $solid_border; 
      margin-bottom: 50px;
      h1{
        margin: 0;
        margin-bottom: 40px;
        line-height: 2.3rem;
      }
    }
  }
  
}


/* Singal post page */
.single-post{
  .post{
    .entry-footer{
      font-family: $font_accent;
      text-transform: uppercase;
      span{
        margin-right: 20px;
      }
    }
  }
} // end of .single-post


/* Find us page */
.page{
  .site-main{
    .type-page{
      .entry-header{
        h1{
          margin-top: 0;
          margin-bottom: 50px;
          line-height: 2.3rem;
        }
      }
      .entry-content{
        h2{
          font-weight: 700;
          font-size: 2.1rem;
          line-height: 2.5rem;
          margin-top: 50px;
        }
      }
    }
  } // end of .site-main
} // end of .page


/* About page */
.page-template-about{
  .custom-hero{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      display: inline-block;
      color:white;
    }
  }
  .entry-content{
    width: 800px;
    margin: 80px auto;
    h2{
      font-weight: 700;
      font-size: 2.1rem;
      line-height: 2.5rem;
      margin-top: 50px;
      text-align: center;
    }
  }
} // end of .page-template-about


/* Front page */
.home{
  .site-content{
    width: 100%;
    margin: 0 auto;
    .front-page-hero{
      display: flex;
      justify-content: center;
      align-items: center;
      height:100vh;
      background: linear-gradient( rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)), url('../../images/front-page-hero.jpg') no-repeat top/100%;
    }
    .front-page-shop,
    .front-page-latest-journals,
    .front-page-adventures{
      width: 1120px;
      margin: 80px auto;
      h2{
        text-align: center;
      }

      // Front page - Shop
      .shop-blocks{
        display: flex;
        .shop-blocks-wrapper{
          flex-basis: 25%;
          border: $solid_border;
          border-top-width: 5px;
          padding: 15px;
          text-align: center;
          &:hover{
            border-color: $color_primary_orange;
          }
          &:not(:last-of-type){
            margin-right: 15px;
          }
          img{
            width: 70px;
            height: 70px;
            display: block;
            margin: 30px auto;
          }
          a{
            color: white;
            &:hover{
            }
          }
        }
      } // end of .shop-blocks

      // Front page - Journal
      .journals-blocks{
        display: flex;
        .journals-blocks-wrapper{
          flex-basis: 33.33%;
          border: $solid_border;
          &:not(:last-of-type){
            margin-right: 15px;
          }
          .journals-blocks-thumbnail{
            width: 100%;
            height: 250px;  
            border: $solid_border;
            border-bottom-width: 5px;
            overflow: hidden;
            img{
              height: auto;
              min-height: 100%;

              width: auto;
              min-width: 100%;
            }
          }
          .journals-blocks-info{
            padding: 30px 20px;
            font-size: 0.75rem;
            background-color: white;
            h3{
              font-size: 1.3rem;
              line-height: 1.8rem;
              margin-top: 15px;
              margin-bottom: 30px;
            }
          }

        }
      }  // end of .journals-blocks

    } 
  } // end of .site-content
} // end of .home
  
/* Shop page */
.post-type-archive-product{

}

