/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body{
  margin: 0 auto;
  max-width: 100%;
  &:not(.home):not(.page-template-about){
    .site-content{
      display: flex;
      max-width: 1120px;
      padding-left: 4rem;
      padding-right: 4rem;
      margin: 0 auto;
      .content-area{
        flex-basis: 67%;
        margin-right: 2rem;
        margin-top: 4rem;
      }
      .widget-area{
        flex-basis: 33%;
        padding-left: 2rem;
        border-left: $solid_border;
      }
    }
  }
}
.container-full-width{
  max-width: 100%;
  margin: 0 auto;
}

.container-max-width{
  max-width: 1120px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
}


.widget-title{
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 4rem;
}
.textwidget p{
  margin: 1rem 0;
}
.widget_archive ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  a{
    text-decoration: none;
  }
}

/* Front page */



/* About page */
.page{
  .content-area{
    margin-top: 2.1rem !important;
    .entry-header{
      h1{
        margin: 0;
        padding: 0;
      }
    }
    .entry-content{
      h2{
        font-weight: 700;
        line-height: 2.6rem;
        margin-top: 50px;
      }
    }
  }

}


/* Journal page */
.blog .site-main article, .post {
  width: 100%;
  margin-bottom: 100px;
  .entry-header{
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
    .entry-title {
      position: absolute;
      left: 0;
      top: 8px;
      background-color: $color_primary_green;
      width: 570px;
      padding: 15px 25px;
      line-height: 40px;
      a{
        color: white;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        &:hover{
          color: $color_primary_yellow;
        }
      }
    }
    
    .entry-meta{
      position: absolute;
      bottom: 8px;
      right: 0;
      background-color: $color_primary_green;
      color: white;
      font-family: $font_accent;
      padding: 5px 15px;
      text-transform: uppercase;
      span{
        margin-bottom: 0;
        padding-bottom: 0;
      }
      
    }
  }
  
}

/* single blog post page */
.single{
  .entry-header h1{ 
    position: absolute;
    top: 40px !important;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  .entry-meta{
    .comments-link a{ 
      color: white;
      font-family: $font_accent;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        color: $color_primary_yellow;
      }
    }
  }
  .entry-footer{ 
    font-family: $font_accent;
    text-transform: uppercase;
    span{
      margin-right: 20px;
      a{
        text-decoration: none;
      }
    }
  }
}
