/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

body{

  // for .blog, .single-post .page .error404, .search-results
  &:not(.home):not(.page-template-about):not(.single-product):not(.post-type-archive):not(.tax-product-type) {
    .site-content{
      display: flex;
      width: 1120px;
      margin: 0 auto;

      .content-area{
        flex-basis: 67%;
        padding: 60px 50px 60px 0;

      }
      .widget-area{ // sidebar
        flex-basis: 33%;
        padding-top: 20px;
        padding-left: 40px;
        border-left: $solid_border;

      }
    }  
  }
}

/* Journal page */
.blog{
  .post{
    margin-bottom: 80px;
    .entry-header{
      position: relative;
      img{
        width: 100%;
        display: block;
      }
      .entry-title{
        position: absolute;
        left: 0;
        top: 8px;
        background-color: $color_primary_green;
        width: 570px;
        padding: 15px 25px;
        line-height: 40px;
        a{
          color: white;
          font-size: 2rem;
          font-weight: 700;
          text-decoration: none;
          &:hover{
            color: $color_primary_yellow;
          }
        }
      }
      .entry-meta{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $color_primary_green;
        padding: 5px 15px;
        color: white;
        font-family: $font_accent;
        text-transform: uppercase;
        span{
          color: white;
          font-family: $font_accent;
          text-transform: uppercase;
        }
        
      }
    }
  }
}




// /* single blog post page */
// .single{
//   .entry-header h1{ 
//     position: absolute;
//     top: 40px !important;
//     color: white;
//     font-size: 2rem;
//     font-weight: 700;
//   }
//   .entry-meta{
//     .comments-link a{ 
//       color: white;
//       font-family: $font_accent;
//       text-decoration: none;
//       text-transform: uppercase;
//       &:hover{
//         color: $color_primary_yellow;
//       }
//     }
//   }
//   .entry-footer{ 
//     font-family: $font_accent;
//     text-transform: uppercase;
//     span{
//       margin-right: 20px;
//       a{
//         text-decoration: none;
//       }
//     }
//   }
// }


/* About page */
.page-template-about{
  .custom-hero{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      display: inline-block;
      color:white;
    }
  }
  .entry-content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Front page */
.home{
  .journals-blocks{
    display: flex;
    .journals-blocks-wrapper{
      flex-basis: 33.33%;
      .journals-blocks-thumbnail{
        width: 375px;
        height: 250px;  
      }
    }
  }
}
  








// /* Find us page */
// .page{
//   .content-area{
//     margin-top: 2.1rem !important;
//     .entry-header{
//       h1{
//         margin: 0;
//         padding: 0;
//       }
//     }
//     .entry-content{
//       h2{
//         font-weight: 700;
//         line-height: 2.6rem;
//         margin-top: 50px;
//       }
//     }
//   }
// }

// /* About page */
// .page-template-about{

// }

