/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	/* widget text style */
	.widget-title{
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 1rem;
		margin-top: 3rem;
	}
	.textwidget{
		p{
			margin: 1rem 0;	
			display: flex;
			align-items: baseline;
			.widget-contact-info{
				margin-left: 15px;
				a{
					text-decoration: none;
					font-family: $font__main;
					text-transform: lowercase;
				}
			}
			.day-of-week{
				font-weight: 700;
			}
		}
	}
}
.widget_archive{
	ul{
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		li{
			margin: 1rem 0;	
			a{
				text-decoration: none;
				font-family: $font__main;
			}
		}
	}
}



/* Search widget. */
.widget_search .search-submit {
	display: none;
}

